.aproach-container{
   width: 100%;
 
  background-color: rgba(255, 255, 255, 0.7); 


}
.aproach-scheme{
  background-image: url('../img/frameGroup.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 49%;
}
.item-title{
    max-width: 170px;
}
.item-title h4{
    font-family: "Inter";
    font-size: clamp(10px,2vw,24px);
    font-weight: 600;

}
.card-item:not(:last-child){
 
}

.trafic{
    position: relative;
}


.dificult{
    position: relative;
}


.client{
    position: relative;
}




.prize{
    position: relative;
}


.analize{
    position: relative;
}


.center-paragraph{
    font-family: "inter";
    font-size: clamp(8px,1vw,12px);
    font-weight: 200;
    max-width: 426px;
    width: 100%;
    color: #919191;
}

@media screen and (max-width:768px) {
  .scheme-center{
    justify-content: center;
    align-items: center;
    
    padding: 20px 0px 20px 0px;
  }
  .center-paragraph{
    margin-top: 0px;
    font-size: 10px;
  }
  
  .item-title{
    max-width: 100%;
}
.scheme-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.item-bottom p{
  font-size: 14px;
}
.scheme-left h4{
   font-size: 18px;
  text-align: center;
}
.scheme-right h4{
  font-size: 12px;
  text-align: center;
}
.item-icon img{
  width: 70px;
  height: 70px;
}
.analize,
.client,
.prize{
  max-width: 30%;
}
.aproach-scheme{
  background: none;
}
}