.aproach-container{
   width: 100%;
 
  background-color: rgba(255, 255, 255, 0.7); 


}
.aproach-scheme{
  background-image: url('../img/frameGroup.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 49%;
}
.item-title{
    max-width: 170px;
}
.item-title h4{
    font-family: "Inter";
    font-size: clamp(10px,2vw,24px);
    font-weight: 600;

}
.card-item:not(:last-child){
 
}

.trafic{
    position: relative;
}
.trafic::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 105%;
  width: 150%;
  height: 74%;
  background-image: url('../imsg/peopleToindiTop.svg');
  background-repeat: no-repeat;
  background-size: contain; /* або cover */ 
}

.dificult{
    position: relative;
}
.dificult::after{
      content: '';
  position: absolute;
  top: -24%;
  left: 105%;

width: clamp(200px, 50vw, 400px);

  height: 74%;
  background-image: url('../img/giweftToindiBottom.svg');
  background-repeat: no-repeat;
  background-size: contain; /* або cover */ 
}

.client{
    position: relative;
}

.client::after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  width: clamp(100px, 10vw, 200px);
  height: auto;
  aspect-ratio: 16 / 9;
  background-image: url('../img/cliensdctToIndi.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


.prize{
    position: relative;
}
.prize::after{
  content: '';
  position: absolute;
  top: 50%;
  left:-75%;
  width: 69%;
  height: 120%;
  background-image: url('../img/prizeToIndisd.svg');
  background-repeat: no-repeat;
  background-size: contain; /* або cover */ 
}

.analize{
    position: relative;
}

.analize::after{
     content: '';
  position: absolute;
  top: -40%;
  left:-75%;
  width: 69%;
  height: 120%;
  background-image: url('../img/analizeTsdcoIndi.svg');
  background-repeat: no-repeat;
  background-size: contain; /* або cover */ 
}
.center-paragraph{
    font-family: "inter";
    font-size: clamp(8px,1vw,12px);
    font-weight: 200;
    max-width: 426px;
    width: 100%;
    color: #919191;
}
@media screen and (max-width:900px){
  .scheme-right {
    justify-content: center;
  }
}
@media screen and (max-width:768px) {
  .scheme-center{
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .center-paragraph{
    margin-top: 0px;
  }
  .trafic::after,
  .dificult::after,
  .client::after,
  .prize::after,
  .analize::after{
    display: none;
  }
  .item-title{
    max-width: 100%;
}
.scheme-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.item-icon img{
  width: 70px;
  height: 70px;
}
.analize,
.client,
.prize{
  max-width: 30%;
}
.aproach-scheme{
  background: none;

}
}