.footer{
    background-color: #F9FAFB ;
    padding: 80px 20px 60px 20px;
}
.footer-top{
    display:flex;
    gap: 5px;
    align-items:center;
    justify-content: space-between;
    padding: 0px 0px 60px 0px;
}
.top-list{
    display: flex;
    gap: 25px;
}
.social-list{

    display: flex;
    gap: 5px;
}

.bottom-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
    border-top: #E6E6E6 solid 2px;
}
@media screen and (max-width:768px) {
    .footer-top,.top-list,.bottom-list{
        flex-direction: column;
    }
}