.left-gridcontainer :not(:last-child){
    margin-bottom: 30px;
}
.left-gridcontainer-title{
max-width: 603px;

}
.left-gridcontainer-title h3{
    width: 100%;
    width: 100%;
font-family: "Inter";
font-weight: 900;
font-size: clamp(32px,8vw,48px);
}

.left-gridcontainer-subtitle{
    max-width: 430px;
font-family: "Inter";
font-weight: 400;
font-size: clamp(14px,2vw,18px);
color: #667085;
}
.left-gridcontainer-button{

       max-width: 170px;
    padding: 8px 20px;
    border-radius: 12px;
    color:#FFFF;
    background: #6138ff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition:all 0.3s ;
}
.left-gridcontainer-button a{
width: 100%;
text-align: center;
 
}
.scale-img{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.left-gridcontainer-button:hover{
     box-shadow: 0 0 0 2px white, 0 0 0 4px #6138ff;
 background:#FFFF;
 color: #6138ff;
 transition:all 0.3s ;
 -webkit-transition:all 0.3s ;
 -moz-transition:all 0.3s ;
 -ms-transition:all 0.3s ;
 -o-transition:all 0.3s ;
}
.right-gridcontainer-image{
    position: relative;
      padding-bottom: 140%;
    width: 100%;

}
.right-gridcontainer-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: contain;
}

@media screen and (max-width:768px) {
    .left-gridcontainer-button {
        margin-bottom: 40px;
    }
    .right-gridcontainer-image{
  
      padding-bottom: 90%;
}
}