.magic-title{
    max-width: 424px;
}
.magic-title h3{
width: 100%;
font-family: "Inter";
font-weight: 900;
font-size: clamp(32px,8vw,48px);
}
.magic-subtitle{
max-width: 623px;
}
.magic-subtitle h4{
width: 100%;
font-family: "Inter";
font-weight: 400;
font-size: clamp(14px,2vw,19px);
}
.magic-item{

}
.item-step{
    border-bottom: solid 2px #e6e8ec;
    font-family: "inter";
    font-weight: 900;
    font-size: clamp(24px,6vw,48px);
    margin-bottom: 16px;

}
.item-text{
max-width: 100%;
}
.item-text h4{
       font-family: "inter";
    font-weight: 600;
    font-size: clamp(10px,3vw,16px);
    margin-bottom: 16px;
}

.item-text p{
    color: #667085;
    font-family: Inter;
}

@media screen and (max-width:768px) {
    .magic-container{
        padding: 15px 30px;
    }
    .magic-subtitle{
        margin-bottom: 1rem;
    }
}